/** {
    font-size: 20px;
}*/



html {
    background-color: aqua;
}

#header {
    color: #ff6921
}
 h3 {
     font-size: 30px;
     color: #ff6921
 }

#header_1{
    font-size: 14px;
}
.name3{
    color:orangered;

}
/*p.name3{*/
/*    background-color: #32aaff;*/
/*}*/
p i {
    color:red;
    border-bottom: 1px solid #242423;
}


